
@{
    ViewData["Title"] = "Thanks";
}

    <main>
        <div class="info">
            <p>Спасибо за покупку! Вы можете получить Ваш заказ на любой из заправок!</p>
        </div>
        <div id="map">

        </div>
    </main>

